/*There are a few things I'm using here, like mixins or the color modules, that aren't exactly 
  required or necessary for something this size, but I wanted to use to as much of SASS as I 
  could. */

$font: Verdana, sans-serif;
$fade: ease-out 0.5s;
/*I used http://colorsafe.co/ to find accessible colors based off of color1.*/
$color1: #001160; //Blue 
$color2: #7aa228; //Green
$color3: lighten($color1, 75%); //lighten color1 for a background
$color4: lighten($color2, 15%); //lighten color2 for a border
@mixin transition($property) {  
    -webkit-transition: $property;
    -moz-transition: $property;
    transition: $property;
}

//scss stub for singleselect
.SingleSelect {
    font-family: $font;
    background-color: white;
    margin: auto;
    margin-top: 10em;
    width: 50%;
    max-width: 30em; //This is specific to this project to keep the buttons set up in a 2x2 formation. When removed it looks a little goofy as the buttons realign themselves into a line.
    display: flex; //Flex boxes were new when I was moving into brewing, so I'm still figuring these out, but I like them.
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

html {
    background: linear-gradient(rgba(0, 17, 96, 0.6), rgba(0, 17, 96, 0.6)), url("../mathematics-572273_1920.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
}

.question{
    color: white;
    text-align: center;
    background-color: $color2;
    margin: auto;
    width: 100%;
    vertical-align:middle;
    padding: 2em 0;
    border-bottom: .2em solid $color4;
}

.answerButtons {
    margin: 2em auto;
    width: 50%;
}

.button {
    font-family: $font;
    font-size: 20px;
    padding: 1.75em 2em;
    margin: .5em;
    border: .1em solid $color1;
    color: $color1;
    background-color: $color3;
    display: inline;
    cursor: pointer;
    box-shadow: inset $color1;
    @include transition($fade);
}

//With the transition properties in .answer, this creates the border animation on hover.
.button:hover {
    box-shadow: inset 0 0 0 .5em $color1;
}

.correct {
}

.feedback {
   
}

.modal {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content:center;
    margin-bottom: 4em;
}


@media (max-width: 950px){
    .SingleSelect{
        max-width: 15em; //This keeps the buttons responsive while eliminating an awkward div size and button alignment while resizing the page.
        margin-top: 2em;
    }
}